{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'run.png'%}">

  <title>KickWave Shopping</title>
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="stylesheet" href="{% static 'men.css'%}">
  <link rel="stylesheet" href="{% static 'css2.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
  .idname {
    font-family: sans-serif;
    margin-left: 20px;
  }
</style>

<body>
  <header>
    
    <span class="name">KickWave</span>
    <div class="navitem">
      <ul class="navbar">
        <li><a href="/home/{{user.id}}">HOME</a></li>
        <li><a href="/men/{{user.id}}">MEN</a></li>
        <li><a href="/women/{{user.id}}">WOMEN</a></li>
        <li><a href="/about/{{user.id}}">ABOUT US</a></li>
      </ul>
    </div>
    <div class="navitem">
      <input type="text" placeholder="Search">
      <img class="si" src="{% static 'search-regular-24.png' %}" alt="">
    </div>
    <div class="navmenu">
      <div class="dropdown" >
        <button  type="button" class="btn btn-primary" data-bs-toggle="dropdown"><i id="i" class='bx bx-user'></i>
          {{user.username}}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/demo">LOGOUT</a></li>
        </ul>
        <a href="cart/{{user.id}}">
        <button type="button" class="btn btn-primary "><i class='bx bx-cart'></i>
          CART
        </button></a>
        <span class="idname">{{username}}</span>
      </div>
    </div>

  </header>
 
  </div>

  <div class="about">
    <img src="{% static '1248.jpg'%}" alt="">
  </div>


  <nav class="end">
    <div class="last">
      <h1>Our page has come to an end, but our relationship with you has not.</h1>
      <h4>Stay sustainable and subscribe now</h4>
      <input type="email" placeholder="Enter your email address"><button>subscribe</button>
    </div>
    <div class="detail">
      <div class="para">
        <h4>SUPPORT</h4>
        <P>contact us</P>
        <p>Promotion & Sale</p>
        <p>Track order</p>
        <p>Shoe Care</p>
        <p>Tech Glossary</p>
        <p>Return/Exchange</p>
      </div>
      <div  class="para">
        <h5>FAQ</h5>
        <p>My Account</p>
        <p>Exchange & Return Policy</p>
        <p>Privacy Policy</p>
        <p>Term & condition</p>
        <p>Shoes</p>
        <p>Cookie Setting</p>
      </div>
      <div  class="para">
        <h4>ABOUT</h4>
        <p>Company</p>
        <p>Corporate News</p>
        <p>Press Center</p>
        <p>Press Center</p>
        <p>Store Locator</p>
        <p>Careers</p>
      </div>
      <div  class="para">
        <h4>STAY UP TO DATE</h4>
        <div class="icon">
        <i class='bx bxl-youtube'></i>
        <i class='bx bxl-twitter'></i>
        <i class='bx bxl-pinterest'></i>
        <i class='bx bxl-instagram'></i>
        <i class='bx bxl-facebook-circle'></i>
      </div>
      </div>
    </div>
  </nav>





</body>

</html>

