{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'run.png'%}">
  <title>KickWave Shopping</title>
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="stylesheet" href="{% static 'css2.css'%}">
  <link rel="stylesheet" href="{% static 'product.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
  .end {
    margin-top: 50px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .idname {
    font-family: sans-serif;
    margin-left: 20px;
  }
  .m:hover{
    border-radius: 5px;
    box-shadow: 3px 6px 15px 10px rgba(81, 80, 80, 0.181);
  }
</style>

<script>
  function mes() {
    alert("kindly Register to access for shoping")
  }
</script>


<body>
  <header>

    <span class="name">KickWave</span>
    <div class="navitem">
      <ul class="navbar" onclick="mes()">
        <li><a href="register">HOME</a></li>
        <li><a href="register">MEN</a></li>
        <li><a href="register">WOMEN</a></li>
        <li><a href="register">ABOUT US</a></li>
      </ul>
    </div>
    <div class="navitem">
      <input type="text" placeholder="Search">
      <img class="si" src="{% static 'search-regular-24.png' %}" alt="">
    </div>
    <div class="navmenu">
      <div class="dropdown">
        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown"><i id="i" class='bx bx-user'></i>
          PROFILE
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/register">REGISTER</a></li>
          <li><a class="dropdown-item" href="/login">LOGIN</a></li>
        </ul>
        <a href="register"> <button type="button" class="btn btn-primary "><i class='bx bx-cart'></i>
            CART
          </button></a>


      </div>

    </div>

  </header>
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div> -->


    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'shoe123.avif' %}" alt="Los Angeles" class="d-block">
      </div>
      <div class="carousel-item">
        <img src="{% static 'c1.avif' %}" alt="Chicago" class="d-block">
      </div>
      <!-- <div class="carousel-item">
        <img src="{% static 'shoe 1.jpg' %}" alt="New York" class="d-block">
      </div> -->
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <div class="center">
    <h3>Featured in</h3>
    <h1>Best Sellers</h1>
  </div>

  <section id="product">
    <section id="product">
        <div class="men_shoe">
            <div class="m">
              <img src="{% static 'm1.webp'%}" alt="">
              <div class="price">
                <!-- <span>adidas</span> -->
                <h5>Oxford Knits : Black</h5>
                <div class="star">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star-half'></i>
                </div>
                <h5>Rs. 899 </h5><span class="old_p">MRP: 1499</span>
                <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>46</i></a><br>
                <div class="add_cart" >
                  <i class='bx bx-cart'></i> <span>ADD TO CART</span>
                </div>
                <div class="buy">
                  <span>BUY</span>
                </div>
              </div>
            </div>
          </div>
      
      
          <div class="men_shoe">
            <div class="m">
              <img src="{% static 'm2.webp'%}" alt="">
              <div class="price">
                <!-- <span>adidas</span> -->
                <h5>The Exuberants : White-Bluek</h5>
                <div class="star">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                </div>
                <h5>Rs. 899 </h5><span class="old_p">MRP: 1699</span>
                <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>56</i></a><br>
                <div class="add_cart">
                  <i class='bx bx-cart'></i> <span>ADD TO CART</span>
                </div>
                <div class="buy">
                  <span>BUY</span>
                </div>
              </div>
            </div>
          </div>
      
          <div class="men_shoe">
            <div class="m">
              <img src="{% static 'm3.webp'%}" alt="">
              <div class="price">
                <!-- <span>adidas</span> -->
                <h5>Everyday Sneakers : Powder White</h5>
                <div class="star">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star-half'></i>
                </div>
                <h5>Rs. 799 </h5><span class="old_p">MRP: 1499</span>
                <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>46</i></a><br>
                <div class="add_cart">
                  <i class='bx bx-cart'></i> <span>ADD TO CART</span>
                </div>
                <div class="buy">
                  <span>BUY</span>
                </div>
              </div>
            </div>
          </div>
      
          <div class="men_shoe">
            <div class="m">
              <img src="{% static 'm4.webp'%}" alt="">
              <div class="price">
                <!-- <span>adidas</span> -->
                <h5>The Urban Riffs : Black</h5>
                <div class="star">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
      
                </div>
                <h5>Rs. 699 </h5><span class="old_p">MRP: 1299</span>
                <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>68</i></a><br>
                <div class="add_cart">
                  <i class='bx bx-cart'></i> <span>ADD TO CART</span>
                </div>
                <div class="buy">
                  <span>BUY</span>
                </div>
              </div>
            </div>
          </div>
      



        <div class="men_shoe">
          <div class="m">
            <img src="{% static 'm13.avif'%}" alt="">
            <div class="price">
              <!-- <span>adidas</span> -->
              <h5>Blend Knit Slip Ons : Ivory-Brown</h5>
              <div class="star">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
              </div>
              <h5>Rs. 899 </h5><span class="old_p">MRP: 1599</span>
              <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>62</i></a><br>
              <div class="add_cart">
                <i class='bx bx-cart'></i> <span>ADD TO CART</span>
              </div>
              <div class="buy">
                <span>BUY</span>
              </div>
            </div>
          </div>
        </div>
    
    
        <div class="men_shoe">
          <div class="m">
            <img src="{% static 'm11.webp' %}" alt="">
            <div class="price">
              <!-- <span>adidas</span> -->
              <h5>Plush Square Flats : Burgundy</h5>
              <div class="star">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
              </div>
              <h5>Rs. 699 </h5><span class="old_p">MRP: 1299</span>
              <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>42</i></a><br>
              <div class="add_cart">
                <i class='bx bx-cart'></i> <span>ADD TO CART</span>
              </div>
              <div class="buy">
                <span>BUY</span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="men_shoe">
          <div class="m">
            <img src="{% static 'm10.avif'%}" alt="">
            <div class="price">
              <!-- <span>adidas</span> -->
              <h5>ReLive Knit Sneakers : Brown</h5>
              <div class="star">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
              </div>
              <h5>Rs. 1299 </h5><span class="old_p">MRP: 1999</span>
              <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>74</i></a><br>
              <div class="add_cart">
                <i class='bx bx-cart'></i> <span>ADD TO CART</span>
              </div>
              <div class="buy">
                <span>BUY</span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="men_shoe">
          <div class="m">
            <img src="{% static 'm9.avif'%}" alt="">
            <div class="price">
              <!-- <span>adidas</span> -->
              <h5>Cotton Slip Ons : black</h5>
              <div class="star">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
    
              </div>
              <h5>Rs. 699 </h5><span class="old_p">MRP: 1299</span>
              <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>53</i></a><br>
              <div class="add_cart">
                <i class='bx bx-cart'></i> <span>ADD TO CART</span>
              </div>
              <div class="buy">
                <span>BUY</span>
              </div>
            </div>
          </div>
        </div>
    

      </section><br><br>

    




    <div class="offer">
      <span>Explore our latest collection of trendy,comfortable and durable shoes for every occasion.</span>
      <img src="{% static 'freepik__adjust__66663.png' %}" alt="">
      <span class="r">Find the perfect pair for every occasion with our premium shoe collection,comfor and
        durability.</span>
    </div>
    <div class="c">
      <h2>New Styles On Sale: Up To 50% Off</h2>
    </div>
  </section><br><br>



  <section id="product">
    <div class="men_shoe">
      <div class="m">
        <img src="{% static 'w1.avif'%}" alt="">
        <div class="price">
          <!-- <span>adidas</span> -->
          <h5>ReLive Knit Sneakers : Very Peri</h5>
          <div class="star">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half'></i>
          </div>
          <h5>Rs. 599 </h5><span class="old_p">MRP: 1199</span>
          <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>50</i></a><br>
          <div class="add_cart">
            <i class='bx bx-cart'></i> <span>ADD TO CART</span>
          </div>
          <div class="buy">
            <span>BUY</span>
          </div>
        </div>
      </div>
    </div>


    <div class="men_shoe">
      <div class="m">
        <img src="{% static 'w2.avif' %}" alt="">
        <div class="price">
          <!-- <span>adidas</span> -->
          <h5>Plush Square Flats : Burgundy</h5>
          <div class="star">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
          </div>
          <h5>Rs. 599 </h5><span class="old_p">MRP: 1199</span>
          <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>50</i></a><br>
          <div class="add_cart">
            <i class='bx bx-cart'></i> <span>ADD TO CART</span>
          </div>
          <div class="buy">
            <span>BUY</span>
          </div>
        </div>
      </div>
    </div>

    <div class="men_shoe">
      <div class="m">
        <img src="{% static 'w3.avif'%}" alt="">
        <div class="price">
          <!-- <span>adidas</span> -->
          <h5>ReLive Knit Sneakers : Mint Green</h5>
          <div class="star">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half'></i>
          </div>
          <h5>Rs. 799 </h5><span class="old_p">MRP: 1499</span>
          <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>50</i></a><br>
          <div class="add_cart">
            <i class='bx bx-cart'></i> <span>ADD TO CART</span>
          </div>
          <div class="buy">
            <span>BUY</span>
          </div>
        </div>
      </div>
    </div>

    <div class="men_shoe">
      <div class="m">
        <img src="{% static 'w4.avif'%}" alt="">
        <div class="price">
          <!-- <span>adidas</span> -->
          <h5>Cotton Slip Ons : Sage Green</h5>
          <div class="star">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half'></i>

          </div>
          <h5>Rs. 699 </h5><span class="old_p">MRP: 1299</span>
          <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>50</i></a><br>
          <div class="add_cart">
            <i class='bx bx-cart'></i> <span>ADD TO CART</span>
          </div>
          <div class="buy">
            <span>BUY</span>
          </div>
        </div>
      </div>
    </div>

    <div class="men_shoe">
      <div class="m">
        <img src="{% static 's1.webp'%}" alt="">
        <div class="price">
          <!-- <span>adidas</span> -->
          <h5>Brunch Loafers : Ivory/Tan</h5>
          <div class="star">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
          </div>
          <h5>Rs. 599 </h5><span class="old_p">MRP: 1199</span>
          <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>53</i></a><br>
          <div class="add_cart">
            <i class='bx bx-cart'></i> <span>ADD TO CART</span>
          </div>
          <div class="buy">
            <span>BUY</span>
          </div>
        </div>
      </div>
    </div>

    <div class="men_shoe">
      <div class="m">
        <img src="{% static 's2.webp'%}" alt="">
        <div class="price">
          <!-- <span>adidas</span> -->
          <h5>ReLive Knit Loafers : Extra Honey</h5>
          <div class="star">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half'></i>
          </div>
          <h5>Rs. 599 </h5><span class="old_p">MRP: 1299</span>
          <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>54</i></a><br>
          <div class="add_cart">
            <i class='bx bx-cart'></i> <span>ADD TO CART</span>
          </div>
          <div class="buy">
            <span>BUY</span>
          </div>
        </div>
      </div>
    </div>

    <div class="men_shoe">
      <div class="m">
        <img src="{% static 's3.webp'%}" alt="">
        <div class="price">
          <!-- <span>adidas</span> -->
          <h5>Brunch Loafers : Black/Tan</h5>
          <div class="star">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half'></i>
          </div>
          <h5>Rs. 759 </h5><span class="old_p">MRP: 1499</span>
          <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>50</i></a><br>
          <div class="add_cart">
            <i class='bx bx-cart'></i> <span>ADD TO CART</span>
          </div>
          <div class="buy">
            <span>BUY</span>
          </div>
        </div>
      </div>
    </div>

    <div class="men_shoe">
      <div class="m">
        <img src="{% static 's4.webp'%}" alt="">
        <div class="price">
          <!-- <span>adidas</span> -->
          <h5>Dress Loafers : Black</h5>
          <div class="star">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
          </div>
          <h5>Rs. 899 </h5><span class="old_p">MRP: 1499</span>
          <a class="crt" href="#"><i class='bx bx-down-arrow-alt'>58</i></a><br>
          <div class="add_cart">
            <i class='bx bx-cart'></i> <span>ADD TO CART</span>
          </div>
          <div class="buy">
            <span>BUY</span>
          </div>
        </div>
      </div>
    </div>



  </section>

  <nav class="end">
    <div class="last">
      <h1>Our page has come to an end, but our relationship with you has not.</h1>
      <h4>Stay sustainable and subscribe now</h4>
      <input type="email" placeholder="Enter your email address"><button>subscribe</button>
    </div>
    <div class="detail">
      <div class="para">
        <h4>SUPPORT</h4>
        <P>contact us</P>
        <p>Promotion & Sale</p>
        <p>Track order</p>
        <p>Shoe Care</p>
        <p>Tech Glossary</p>
        <p>Return/Exchange</p>
      </div>
      <div class="para">
        <h5>FAQ</h5>
        <p>My Account</p>
        <p>Exchange & Return Policy</p>
        <p>Privacy Policy</p>
        <p>Term & condition</p>
        <p>Shoes</p>
        <p>Cookie Setting</p>
      </div>
      <div class="para">
        <h4>ABOUT</h4>
        <p>Company</p>
        <p>Corporate News</p>
        <p>Press Center</p>
        <p>Press Center</p>
        <p>Store Locator</p>
        <p>Careers</p>
      </div>
      <div class="para">
        <h4>STAY UP TO DATE</h4>
        <div class="icon">
          <i class='bx bxl-youtube'></i>
          <i class='bx bxl-twitter'></i>
          <i class='bx bxl-pinterest'></i>
          <i class='bx bxl-instagram'></i>
          <i class='bx bxl-facebook-circle'></i>
        </div>
      </div>
    </div>
  </nav>
</body>

</html>